<h1>Edit Profile</h1>
<%= form_tag "/profiles/#{@profile.id}", method: :patch do %>
<div>
  <%= label_tag :first_name %>
  <%= text_field_tag :first_name, @profile.first_name  %>
</div>
<div>
  <%= label_tag :last_name %>
  <%= text_field_tag :last_name, @profile.last_name %>
</div>
<div>
  <%= label_tag :age %>
  <%= text_field_tag :age, @profile.age %>
</div>
<div>
  <%= label_tag :email %>
  <%= text_field_tag :email, @profile.email %>
</div>
<div>
  <%= label_tag :phone_number %>
  <%= text_field_tag :phone_number, @profile.phone_number %>
</div>
<div>
  <%= submit_tag "Edit profile" %>
</div>
<%end%>