<h1>All profiles</h1>
<h2><a href="/profiles/new">Create New Profile</a></h2>
<br>
<% @profiles.each do |profile| %>
  <div class="panel panel-default">
    <div class="panel panel-heading">
      <h2><%= profile.first_name %> <%= profile.last_name %></h2>
    </div>
    <div class="panel panel-body">
      <h4>Age: <%= profile.age %></h3>
      <h4>E-mail: <%= profile.email %></h3>
      <h4>Phone: <%= profile.phone_number %></h3>
      <h3><a href="/profiles/<%=profile.id%>">View this profile</a></h3>
    </div>
  </div>
  <br>
<%end%>