<div class="panel panel-default">
  <div class="panel panel-heading">
    <%= react_component 'Profile', { profile: @profile } %>
  </div>
  <div class="panel panel-body">
    <%= react_component 'ProfilePanel', { profile: @profile } %>
    <h3><button><%= link_to "Edit", "/profiles/#{@profile.id}/edit" %></button></h3>
    <h3><button><%= link_to "Delete", "/profiles/#{@profile.id}", method: :delete%></button></h3>
  </div>
</div>
<h3><a href="/profiles">Go back to profiles</a></h3>
<br>
<h3>View another profile from the list below</h3>
<%= react_component 'Profiles', { profiles: @profiles } %>